#python 3.12
jupyter
numpy<2.4
pandas
tqdm
opencv-python
Pillow
joblib
matplotlib
transformers
torch
torchvision
scikit-learn
odfpy
sentencepiece
protobuf
pytorch-fid
graphviz
seaborn
shapely
scikit-image
faiss-cpu
dotenv
shap
dice-ml
pydantic-settings
accelerate>=1.1.0
bitsandbytes>=0.46.1
